 .btn {
    border-radius: 6px;
    border: 0.5px solid black;

}
.radius1,.input-group.mb-3
{
    border-radius: 6px;
    border: 0.5px solid black;
    background-color: rgb(240,231,231);
    overflow: hidden;
}
input{
    outline-color: maroon ;
    outline-width: 21px;
}
a[href="register"]
{
    color: black;
}
.card.shadow.border-secondary.mb-3
{
    background-color: rgb(240,231,231);
}
