<header style="background-color: black">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="../../assets/logo.png" title="DBS" height="100px" width="250px">
            </a> 
            <a class="navbar-brand ml-auto" name="pull">
                <img src="../../assets/call.png" title="Help" height="50px" width="50px">
            </a>
            <h5 style="float: right" style="color: red" title="Help">Toll Free Number : 040 425 1515</h5>
        </nav>
</header>
<section>
  <div>
        <div class="card shadow border-secondary mb-3" style="margin: 35px 70px ">
            <div class="card-header" style="text-align: left; font-size: 25px;background-color:darkred;color: white">
                Online Banking Services
                <div style="text-align: right; font-size: 13px;background-color:darkred;color: white; position: relative;">
                        *&nbsp;Required Fields
                   </div>
            </div>
                <div class="card-body text-secondary" style="background-color: lightgrey">
                    <form ngNativeValidate>
                        <div class="row">
                            <div class="col-lg-3">
                            <span style="color:black">Select</span><span style="color: red"><b>*</b></span></div>
                            <div class="col-lg-2">    
                            <div class="dropdown">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                          --  Select Type--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item">Register for Internet Banking</a>
                                          <a class="dropdown-item">Reset your Password</a>
                                          <a class="dropdown-item">Retrieve your User ID</a>
                                        </div>
                                      </div>
                                    </div>
                        </div><br>
                        <div class="row">
                                <div class="col-lg-3">
                                <span style="color:black">Country</span><span style="color: red"><b>*</b></span></div>
                                <div class="col-lg-2">    
                                <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                              --  Select Country--
                                            </button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item">India</a>
                                              <a class="dropdown-item">Singapore</a>
                                              <a class="dropdown-item">Hong Kong</a>
                                              <a class="dropdown-item">Indonesia</a>
                                              <a class="dropdown-item">London</a>
                                              <a class="dropdown-item">Taiwan</a>
                                            </div>
                                          </div>
                                        </div>
                            </div><br>

                            <div class="row">
                                    <div class="col-lg-3">
                            <span style="color:black">ATM/Debit Card Number</span><span style="color: red"><b>*</b></span></div>
                            <div class="col-lg-3">
                            <input type="text" class="radius1" name="cardnumber" required><br><br></div></div>

                            <div class="row">
                                    <div class="col-lg-3">
                            <span style="color:black">Card PIN</span><span style="color: red"><b>*</b></span></div>
                            <div class="col-lg-3">                               
                            <input type="password" class="radius1" name="pin" required><br><br></div></div>

                            <div class="row">
                                    <div class="col-lg-3">
                            <span style="color:black">Aadhar Card Number</span><span style="color: red"><b>*</b></span></div>
                            <div class="col-lg-3">
                            <input type="text" class="radius1" name="aadharnumber" required><br><br></div></div>

                            <div class="row">
                                    <div class="col-lg-3">
                            <span style="color:black">Email Address</span><span style="color: red"><b>*</b></span></div>
                            <div class="col-lg-3">
                            <input type="email" class="radius1" name="email" required><br><br></div></div>

                            <div class="row">
                                    <div class="col-lg-3">
                            <span style="color:black">Date of Birth</span><span style="color: red"><b>*</b></span></div>
                            <div class="col-lg-3">
                            <input type="date" class="radius1" name="date" required><br><br></div></div>
                    </form></div>
                    <div  style="color: red"><br>
                    &nbsp;<img src="../../assets/_ionicons_svg_md-information-circle-outline.svg" height="21px" width="21px" name="information">
                            Please ensure that your DBS Debit card is active. DBS iBanking access is allowed only if we have your PAN details in our records. 
                            If you do not have DBS Debit card or &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; wish to submit your PAN details, please visit your nearest DBS Branch.
                <br><br></div>
                <form ngNativeValidate>
                    <div style="background-color: lightgrey">
                        <br>
                   <div class="row" style="border-radius: 6px;margin-left: 0.5px">
                        
                        <div class="col-1">
                        <button class="btn" style="padding: 1px 25px">
                          <a href="register">Reset</a>
                        </button></div>
                        <div class="col-1">
                        <button class="btn" style="padding: 1px 25px;">Submit</button></div>
                        <div class="col-10" style="text-align: right">
                        <img src="../../assets/_ionicons_svg_md-help-circle-outline.svg" height="21px" width="21px" name="help-circle-outline">help&nbsp;
                    </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>      
    </div>
    </section>