<header>
        <marquee class="rounded" behavior="scroll" direction="left">
                <b>Welcome to DBS Internet Banking</b>
             </marquee>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="85px" width="250px">
        </a> 
        <a href="profile" style="float: right;margin-left: 850px;color: white">Welcome Manoj K
        </a>
    </nav>
</header>
<section>
        <nav class="navbar navbar-expand-md navbar-dark">
            <ul class="navbar-nav mr-auto">
                    <ul class="nav-item">
                            <a class="nav-link" name="main" href="adminhome" style="color: white">Home</a>
                    </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Accounts</span>
                    </a>
                    <div class="dropdown-menu">
                            <div class="dropdown-submenu">
                                    <a class="dropdown-item">Customer Services<span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="accountopeninghome"> Open an Account</a>
                                      <a class="dropdown-item"> Delete an Account </a>
                                    </div>
                            </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Personal Security Settings</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Password Management<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Enable Transaction Password </a>
                                  <a class="dropdown-item"> Disable Transaction Password </a>
                                  <a class="dropdown-item"> Generate New Transaction Password  </a>
                                  <a class="dropdown-item"> Change Login/Transaction Password & User ID </a>
                                </div>
                        </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <span>Profiling</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" >Register a Customer</a>
                            <a class="dropdown-item" >Modify Customer Details</a>
                            <a class="dropdown-item" >Delete a Customer</a>
                        </div>
                    </ul>        
            </ul>
        </nav>
    </section>
<div style="background-color: lightgray">
</div>
