<header>
        <marquee class="rounded" behavior="scroll" direction="left">
                <b>Welcome to DBS Internet Banking</b>
             </marquee>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="85px" width="250px">
        </a> 
        <a href="profile" style="float: right;margin-left: 850px;color: white">Welcome Manoj K
        </a>
    </nav>
</header>
<section>
        <nav class="navbar navbar-expand-md navbar-dark">
            <ul class="navbar-nav mr-auto">
                    <ul class="nav-item">
                            <a class="nav-link" name="main" href="adminhome" style="color: white">Home</a>
                    </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Accounts</span>
                    </a>
                    <div class="dropdown-menu">
                            <div class="dropdown-submenu">
                                    <a class="dropdown-item">Customer Services<span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="accountopeninghome"> Open an Account</a>
                                      <a class="dropdown-item"> Delete an Account </a>
                                    </div>
                            </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Personal Security Settings</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Password Management<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Enable Transaction Password </a>
                                  <a class="dropdown-item"> Disable Transaction Password </a>
                                  <a class="dropdown-item"> Generate New Transaction Password  </a>
                                  <a class="dropdown-item"> Change Login/Transaction Password & User ID </a>
                                </div>
                        </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <span>Profiling</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="customerregister">Register a Customer</a>
                            <a class="dropdown-item" href="customermodify">Modify Customer Details</a>
                            <a class="dropdown-item" href="customerdelete">Delete a Customer</a>
                        </div>
                    </ul>        
            </ul>
        </nav>
    </section>

<body>

        <form ngNativeValidate ngForm #form="ngForm" style="margin-top: -50px" enctype="multipart/form-data">        
            <div>
    
                <table width="100%" align="center" border="1">
                
                    <tr>
                        <td align="center" style="width: 20%;">
                            <img id="Image1" src="../../assets/logo.png" style="height:89px;width:230px;" />
                        </td>
                        <td style="text-align: center; font-size: 30px;color:white; background-color: maroon;" colspan="3">
                            Customer Creation
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                            &nbsp;
                        </td>
                    </tr>
                 
                    <tr>
                        <td class="header" colspan="4">
                            PERSONAL DETAILS
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%" > Customer Id: </td>
                        <td> <input required name="c_id" type="number" id="c_id" [(ngModel)]="c_id" /> </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            SALUTATION<span style="color:Red;">*</span>
                        </td>
                        <td style="width: 30%">
                <select required name="drp_salutaion" id="drp_salutaion">
          <option value="">--Select--</option>
          <option value="MR">MR</option>
          <option value="MRS">MRS</option>
          <option value="MS">MS</option>
          <option value="DR">DR</option>
          <option value="PROF">PROF</option>
        </select>
                        </td>
                        <td style="width: 20%">
                            FULL NAME<span style="color:Red;">*</span>
                        </td>
                        <td style="width: 30%">
                            <input required name="txtname" type="text" maxlength="50" id="txtname" [(ngModel)]="c_name" class="onlytext" (keyup)="validateStr(c_name)" />
                            <span *ngIf="Flag==false ; ">
                                    <h6 style="color:Red;">{{strStatus}} </h6>
                                    </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            &nbsp;FATHER/HUSBAND NAME<span style="color:Red;">*</span></td>
                        <td style="width: 30%">
                            <input required name="txtfname" type="text" maxlength="50" id="txtfname" />
                        </td>
                        <td style="width: 20%">
                            DATE OF BIRTH <span style="color:Red;">*</span></td>
                        <td style="width: 30%">
                            <input required name="txtdob" type="date" id="txtdob" class="datetime" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            &nbsp;GENDER<span style="color:Red;">*</span>
                        </td>
                        <td style="width: 30%">
                            <table id="rdogender" border="0">
          <tr>
            <td><input required id="rdogender_0" type="radio" name="rdogender" value="M" checked="checked" />
            <label for="rdogender_0">MALE</label></td><td><input id="rdogender_1" type="radio" name="rdogender" value="F" />
            <label for="rdogender_1">FEMALE</label></td>
          </tr>
        </table>
                        </td>
                        <td style="width: 20%">
                            ADDRESS LINE 1 <span style="color:Red;">*</span></td>
                        <td style="width: 30%">
                            <input required name="txt_corres_add1" type="text" maxlength="45" id="txt_corres_add1" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            ADDRESS LINE 2
                        </td>
                        <td style="width: 30%">
                            <input name="txt_corres_add2" type="text" maxlength="45" id="txt_corres_add2" />
                        </td>
                        <td style="width: 20%">
                            CITY <span style="color:Red;">*</span></td>
                        <td style="width: 30%">
                            <input required name="txt_corres_city" type="text" maxlength="30" id="txt_corres_city" class="onlytext"  />
                        </td>
                    </tr>
                    <tr>
                        <td >
                            &nbsp;STATE <span style="color:Red;">*</span></td>
                        <td >
                            <select required name="drpstate" id="drpstate">
          <option value="">--Select--</option>
          <option value="AP">ANDHRA PRADESH</option>
          <option value="AS">ASSAM</option>
          <option value="BH">BIHAR</option>
          <option value="CG">CHHATISGARH</option>
          <option value="CH">CHANDIGARH</option>
          <option value="DL">DELHI</option>
          <option value="DN">DADRA - NAGAR HAVELI</option>
          <option value="GJ">GUJARAT</option>
          <option value="GO">GOA</option>
          <option value="HP">HIMACHAL PRADESH</option>
          <option value="HR">HARYANA</option>
          <option value="JD">JHARKHAND</option>
          <option value="JK">JAMMU - KASHMIR</option>
          <option value="KA">KARNATAKA</option>
          <option value="KE">KERALA</option>
          <option value="ME">MEGHALAYA</option>
          <option value="MH">MAHARASHTRA</option>
          <option value="MP">MADHYA PRADESH</option>
          <option value="OR">ODISHA</option>
          <option value="PB">PUNJAB</option>
          <option value="PN">PONDICHERRY</option>
          <option value="RJ">RAJASTHAN</option>
          <option value="SK">SIKKIM</option>
          <option value="TG">TELANGANA</option>
          <option value="TN">TAMIL NADU</option>
          <option value="TP">TRIPURA</option>
          <option value="UL">UTTARANCHAL</option>
          <option value="UP">UTTAR PRADESH</option>
          <option value="WB">WEST BENGAL</option>
        </select>
                        </td>
                        <td >
                            PIN CODE <span style="color:Red;">*</span></td>
                        <td >
                            <input required name="txtpin" type="text" maxlength="6"onkeypress="return event.charCode>=48 && event.charCode<=57" id="txtpin" class="onlynumeric" />
                        </td>
                    </tr>
                    <tr>
                        <td >
                            MOBILE NUMBER <span style="color:Red;">*</span> </td>
                        <td >(+91)
                            <input required name="txtmobno" type="text" [(ngModel)]="mobileNo" (keyup)="MySubmit(mobileNo)" maxlength="10" id="txtmobno" class="onlynumeric" />
                                    
                            <span *ngIf="Flag==false ; ">
                                    <h6 style="color:Red;">{{mobileStatus}} </h6>
                                    </span>
                                    <!-- <ng-template #else1>
                                      <h6 style="color:Red;">{{mobileStatus}} </h6>
                                    </ng-template>
                                    <br> -->
                        </td>
                        <td >
                            EMAIL ID<span style="color:Red;">*</span>
                        </td>
                        <td >
                            <input required name="txtemail" type="text" maxlength="50" id="txtemail" />
                        </td>
                    </tr>
                     </table>
                     <table width="100%" align="center" border="1">
                        <tr>
                            <td style="text-align: center;" colspan="4">
                                <input type="submit" [disabled]="form.invalid" name="btnsubmit" (click)="Register()" value="S U B M I T" id="btnsubmit" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            
            </body>    
    
            <div id="created" style="margin: 2.5% 10%; width: 80%; text-align: center; display:none;"  class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> The Customer is Registered..! </strong> 
                </div>