.carousel-inner img {
    display:block;
    height: auto; 
    max-width: 100%;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color:maroon;
}
    @keyframes example {
        0%   {color: red;}
        25%  {color: black;}
        50%  {color:red;}
        100% {color: black;}
      }
      div[name="blink"] {
           /* width: 100px;
            height: 100px; */
            color: red;
            animation-name: example;
            animation-duration: 4s;  
            animation:example 0.8s infinite;
            text-align: center;
      }
      ul {
        list-style: none;
      }
      
      ul li::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: 5px;
      }
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
h6{
  text-align: center
}
Footer
{
  background-color:darkred;
}
.list-unstyled
{
  color:black;
}
marquee
{
  background-color: salmon;
}
header{
  background-color: black;
}
h5[title="Help"]{
  text-align: center;
  color: red;
}
section
{
  background-color:darkred;
}
a[href="home"]
{
    color: white;
    margin: 3px
}
a[href="home"]:hover
{
    color: red;
    margin: 3px
}
a > span{
  color: white;
}
a:hover > span{
  color: red
}