<header>
        <marquee class="rounded" behavior="scroll" direction="left">
                <b>Welcome to DBS Internet Banking</b>
             </marquee>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="85px" width="250px">
        </a> 
        <a href="profile" style="float: right;margin-left: 850px;color: white">Welcome Manoj K
        </a>
    </nav>
</header>
<section>
        <nav class="navbar navbar-expand-md navbar-dark">
            <ul class="navbar-nav mr-auto">
                    <ul class="nav-item">
                            <a class="nav-link" name="main" href="adminhome" style="color: white">Home</a>
                    </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Accounts</span>
                    </a>
                    <div class="dropdown-menu">
                            <div class="dropdown-submenu">
                                    <a class="dropdown-item">Customer Services<span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="accountopeninghome"> Open an Account</a>
                                      <a class="dropdown-item"> Delete an Account </a>
                                    </div>
                            </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Personal Security Settings</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Password Management<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Enable Transaction Password </a>
                                  <a class="dropdown-item"> Disable Transaction Password </a>
                                  <a class="dropdown-item"> Generate New Transaction Password  </a>
                                  <a class="dropdown-item"> Change Login/Transaction Password & User ID </a>
                                </div>
                        </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <span>Profiling</span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="customerregister">Register a Customer</a>
                            <a class="dropdown-item" href="customermodify">Modify Customer Details</a>
                            <a class="dropdown-item" >Delete a Customer</a>
                        </div>
                    </ul>        
            </ul>
        </nav>
    </section>

<body>                 
                       
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="99%">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="height: 25px;"  class="CMSHeading" align="left">Online Opening of SB Account</td>
        </tr>
        <tr>
        <td>
                    <br />
                    <p>With the benefits of&nbsp;convenience, time saving and security for our&nbsp;valued customers, our Bank has enabled online opening of SB account in simple easy steps.</p>
        </td>
        </tr>
        <tr>
        <td bgcolor="#f4f4f4" height="37">&nbsp;<img alt="" src="/assets/bulate1.jpg" height="9" width="15" /> <strong>
                    Pre-requisites for filling the online application :</strong></td></tr>
        <tr>
        <td>
                    <br />
                    <ol>
                        <li>This facility is available only for resident Indians.</li>
                        <li>The account can be opened for SELF mode of operation only.</li>
                        <li>Soft copy of Passport size photographs (size should be less than 10 KB).</li>
                        <li>KYC (Know Your Customer) documents :<br />
                        <br />
                        <ol type="i">
                            <li>Scanned copy Photo ID</li>
                            <li>Scanned copy of Address Proof (should be other than the photo ID) <br />
                            <em>(The acceptable KYC documents are available through drop down menu in the online application)</em></li>
                            <li>The size of each of the KYC document should be less than 500 KB.</li>
                        </ol>
                        </li>
                    </ol>
        </td>
        </tr>
        <tr>
        <td bgcolor="#f4f4f4" height="37">&nbsp;<img alt="" src="/assets/bulate1.jpg" height="9" width="15" /> <strong>
                    Process to Apply and Tracking :</strong></td>
        </tr>
        <tr>
        <td>
                    <br />
                    The process to fill up the online application for opening a Savings Bank account in brief is as follows :<br />
                    <ol start="1" type="1">
                        <li>Customer can choose any branch to open his new account and may provide nomination details also.</li>
                        <li>The required documents viz. photograph, Photo ID and address proof as mentioned in online application are to be uploaded. </li>
                        <li>A unique Tracking ID Number will be generated on submission of the application and the same is to be noted for future reference.&nbsp;</li>
                        <li>On successful submission of the application an email will be sent to the customer&#8217;s given email ID with&nbsp;unique tracking ID. Using this tracking ID, customer can track the application status. </li>
                    </ol>
        </td>
        </tr>
        <tr>
                    <td bgcolor="#f4f4f4" height="37">&nbsp;<img alt="" src="/assets/bulate1.jpg" height="9" width="15" /> <strong>Note :</strong></td>
        </tr>
        <tr>
        <td>
                    <ol type="1">
                        <li>Customers are advised to visit the chosen branch in person with original documents on T+2 working days and not later than 15 days from the date of submission of application.</li>
                        <li>On scrutiny of the details of the customer, branch may approve / reject the application.</li>
                        <li>On successful verification/approval of details, the new account will be opened in the Branch.</li>
                        <li>Customer can open the following type of SB accounts through this facility&nbsp;<br />
                        <br />
                        </li>
                    </ol>
                    <p><a href="#" target="_blank" class="RedLink"><strong>Click here to open Savings Account online</strong></a><br />
                    </p>
                    <p><a href="#" target="_blank" class="RedLink"><strong>Track your application status</strong></a></p>
                    <br />
                    </td>
                </tr>
            </tbody>
        </table>
        </body>