<header style="background-color: black">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="100px" width="250px">
        </a> 
        <a class="navbar-brand ml-auto" name="pull">
            <img src="../../assets/call.png" title="Help" height="50px" width="50px">
        </a>
        <h5 style="float: right" style="color: red" title="Help">Toll Free Number : 040 425 1515</h5>
    </nav>
</header>
<section style="background-color: cornsilk">
    <div class="container"style="background-color:cornsilk">
        <div class="row">
            <div class="col"><br>
                <div class="card shadow border-secondary mb-3" style="max-width: 25rem;background-color:cornsilk">
                    <div class="card-header" style="text-align: center; font-size: 25px">Welcome to <b>DBS </b>
                        <span style="color:darkred"><b>iBanking</b></span>
                    </div>
                    <div class="card-body text-secondary">
                        <form ngNativeValidate>
                        User ID<span style="color: red"><b>*</b></span>&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<input class="radius1" type="Username" name="username" required><br><br>
                        Password<span style="color: red"><b>*</b></span>&nbsp;:&nbsp;&nbsp;<input type="password" class="radius1" name="password" required><br><br>
                        <div class="row">
                                <div class="col">
                                  <button class="btn btn-danger" style="margin-left: 85px;padding: 1px 25px">Submit</button>
                                </div>
                                <div class="col">
                                  <button class="btn" style="background-color:lightgray; padding: 1px 25px;margin-left: 210px;margin-top: -55px">Reset</button>
                                </div>
                              </div>
                        </form>
                    </div>
                    <span style='font-size:15px;margin-left: 3px;padding: 1px 20px'>&#10143;
                            <a href="#" style="color: darkred;font-size: 13px"> Set/Reset your Internet Banking Password</a>
                    </span>
                    <span style='font-size:15px;margin-left: 3px;padding: 1px 20px'>&#10143;
                            <a href="#" style="color: darkred;font-size: 13px">  Retrieve your Internet Banking User ID</a>
                    </span><br>
                    <form>
                    <div class="card-footer">Not an iBanking Customer?</div>
                    <button class="button button4">Sign Up Now</button>
                    <br><br>
                </form>
                </div>        
            </div>
            <div class="col">
                <img src="../../assets/loginpage.png" style="max-width: 700px" title="login">
            </div>
        </div>
</div>
</section>
<Footer style="background-color:darkred">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>About DBS</li>
            <li>Awards & Rewards</li>
            <li>Annual Report</li>
            <li>Careers</li>
            <li>Caution To Public</li>                          
        </ul>
    </div>
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>Citizen's Charter</li>
            <li>Complaint / Grievance</li>
            <li>Disclosures</li>
            <li>Events</li>
            <li>Minorities</li>
        </ul>
    </div>
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>Policies & Guidelines</li>
            <li>Banking forms</li>
            <li>Privacy Policy</li>
            <li>Service charges and fees</li>
            <li>Representative Offices</li>
        </ul>
    </div>
    <div class="col-lg-3"><br>
        <ul class="list-unstyled" style="color:black">
            <li>Retirees Corner</li>
            <li>RTI Act</li>
            <li>Suit Filed Cases Of Wilful Defaulters</li>
            <li>Tools</li>
            <li>Banking Facilities for Persons with &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Special Needs</li>
        </ul>
    </div>
</div>
</div>
<pre style="color: white;text-align: center"> Investor Relations | Bulletin | Unclaimed Deposit | DNCR | Miscellaneous | Holiday List | Photo Gallery | Webcast | Disclaimer | Locate Us | Contact Us</pre>
<div class="label-back-to-top" style="color: white">&nbsp;&nbsp;Back To Top</div>
</Footer>
<br>
<h6><pre style="text-align: center">Terms & Conditions | Privacy Policy | ©2019 DBS Bank India Limited                                                                                          Social media</pre></h6>