<header>
        <marquee class="rounded" behavior="scroll" direction="left">
                <b>Welcome to DBS Internet Banking</b>
             </marquee>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" title="DBS" height="85px" width="250px">
        </a> 
        <a href="profile" style="float: right;margin-left: 850px;color: white">Welcome Sangeeta Joshi
        </a>
    </nav>
</header>
<section>
        <nav class="navbar navbar-expand-md navbar-dark">
            <ul class="navbar-nav mr-auto">
                    <ul class="nav-item">
                            <a class="nav-link" name="main" href="userhome" style="color: white">Home</a>
                    </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Accounts</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="summary">Account Summary</a>
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Requests<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Interest Certificate for Deposists/Savings </a>
                                  <a class="dropdown-item"> Link your Gas ID </a>
                                  <a class="dropdown-item"> Provisional Certificate for Loans </a>
                                  <a class="dropdown-item"> Interest Certificate for Loans </a>
                                </div>
                        </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Value Added Services</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" >Service Requests</a>
                        <a class="dropdown-item" >Cheque Book Request Enquiry</a>
                        <a class="dropdown-item" >Aadhar Registration</a>
                        <a class="dropdown-item" >Donations</a>
                        <a class="dropdown-item" >GSTN Registration</a>
                        <a class="dropdown-item" >Transaction Limit Enquiry</a>
                        <a class="dropdown-item" >Request for Locker</a>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Transactions</span>
                    </a>
                    <div class="dropdown-menu">
                                    <a class="dropdown-item" href="fundstransfer">Funds Transfer<span class="caret"></span></a>
                            <div class="dropdown-submenu">
                                    <a class="dropdown-item">Transaction Status<span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item"> All Transactions </a>
                                      <a class="dropdown-item"> Scheduled Transactions </a>
                                      <a class="dropdown-item"> Completed Transactions </a>
                                      <a class="dropdown-item"> Saved Transactions </a>
                                    </div>
                            </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Personal Security Settings</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Password Management<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Enable Transaction Password </a>
                                  <a class="dropdown-item"> Disable Transaction Password </a>
                                  <a class="dropdown-item"> Generate New Transaction Password  </a>
                                  <a class="dropdown-item"> Change Login/Transaction Password & User ID </a>
                                </div>
                        </div>
                    </div>
                </ul>
                <ul class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span>Card Services</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Credit Cards<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Link/Pay to Linked Cards </a>
                                </div>
                        </div>
                        <div class="dropdown-submenu">
                                <a class="dropdown-item">Debit Cards<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item"> Debit Card Reissue Request </a>
                                  <a class="dropdown-item">  Debit Card Activation </a>
                                  <a class="dropdown-item"> Block Debit Card</a>
                                </div>
                        </div>
                    </div>
                </ul>         
            </ul>
        </nav>
    </section>
<div style="background-color: lightgray">
   <div class="warning">
     <b>{{Warning}}</b>
   </div> 
   <div class="to-left">
     <br>
     <div style="margin-right: 35px">
       <tr *ngFor="let Item of Details">
         <span> Hello <b>{{Item.name}}</b></span><br>
         <span>Account Number : <b>{{Item.accnum}}</b></span><br>
         <span>Your Balance Amount : <b>{{Item.balance}}</b> </span>
       </tr> 
   </div> 
  </div>
     <br>
     <div *ngIf="OnSelectPaymentType == false" id="to-center">
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">IMPS</h4>
                <img src="../assets/img1.jpg" width=200px height=180px>
                
              </div>
              <button id="to-center-btn" class="card-link" (click)="TransferType('IMPS')">Transfer</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">NEFT</h4>
                <img src="../assets/img2.jpg" width=200px height=180px>
                
              </div>
              <button id="to-center-btn" class="card-link" (click)="TransferType('NEFT')">Transfer</button>
            </div>
          </div>
          <br><br>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">RTGS</h4>
                <img src="../assets/img3.jpg" width=200px height=180px>
                
              </div>
              <button id="to-center-btn" class="card-link" (click)="TransferType('RTGS')">Transfer</button>
            </div>
          </div>
        </div><br><br><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">UPI</h4>
                <img src="../assets/img4.jpg" width=200px height=180px>
                
              </div>
              <button id="to-center-btn" class="card-link" (click)="TransferType('UPI')">Transfer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
     <div *ngIf="Imps == true" id="to-center">
         <div id="type">
             <h5>{{PaymentType}}</h5>
           </div>
       
       
       <div class="form-group">
         <br>
          <br>
         <label >Beneficiary Account Number:</label>
           <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="accountNumber" required />
         </div>
         <div class="form-group">
             <label >Confirm Account number:</label>
             <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="confirmAccountNumber" required/>
           </div>
           <div class="form-group">
               <label >IFSC Code:</label>
               <input type="text" value="" class="form-control"  [(ngModel)]="ifsc" required/>
             </div>
         <div class="form-group">
           <label >Amount:</label>
           <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"[(ngModel)]="money" required />
         </div>
         <div class="form-group">
           <label >Purpose:</label>
           <input type="text" value="" class="form-control" [(ngModel)]="purpose" />
         </div>
         <button type="submit" class="btn btn-primary"  (click)="TransferMoneyImps(accountNumber,confirmAccountNumber,ifsc,money,purpose)">Transfer</button>
         <br><br>
   
         
                <b> {{Message}} </b><br>
   
     </div>
   
   <div *ngIf="Rtgs == true" id="to-center">
       <div id="type">
           <h5>{{PaymentType}}</h5>
         </div>
     
     
         <div class="form-group">
             <br><br>
             <label >Beneficiary Account Number:</label>
               <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="accountNumber" required />
             </div>
             <div class="form-group">
                 <label >Confirm Account number:</label>
                 <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="confirmAccountNumber" required />
               </div>
               <div class="form-group">
                   <label >IFSC Code:</label>
                   <input type="text" value="" class="form-control" [(ngModel)]="ifsc" required />
                 </div>
             <div class="form-group">
               <label >Amount:</label>
               <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="money" required/>
             </div>
             <div class="form-group">
               <label >Purpose:</label>
               <input type="text" value="" class="form-control" [(ngModel)]="purpose" />
             </div>
             <button type="submit" class="btn btn-primary"  (click)="TransferMoneyRtgs(accountNumber,confirmAccountNumber,ifsc,money,purpose)">Transfer</button>
             <br><br>
       
   
       <!-- <div id="to-center"> -->
           <!-- <span id="message"> -->
             <b> {{Message}} </b> <br>
            <!-- </span> -->
       <!-- </div> -->
   
   </div>
   
   <div *ngIf="Neft == true" id="to-center">
     <div id="type">
         <h5>{{PaymentType}}</h5>
       </div>
   
   
       <div class="form-group">
           <br>
    <br>
           <label >Beneficiary Account Number:</label>
             <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="accountNumber" required/>
           </div>
           <div class="form-group">
               <label >Confirm Account number:</label>
               <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="confirmAccountNumber" required/>
             </div>
             <div class="form-group">
                 <label >IFSC Code:</label>
                 <input type="text" value="" class="form-control" [(ngModel)]="ifsc" required/>
               </div>
           <div class="form-group">
             <label >Amount:</label>
             <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="money" required/>
           </div>
           <div class="form-group">
             <label >Purpose:</label>
             <input type="text" value="" class="form-control" [(ngModel)]="purpose" />
           </div>
           <button type="submit" class="btn btn-primary"  (click)="TransferMoneyNeft(accountNumber,confirmAccountNumber,ifsc,money,purpose)">Transfer</button>
           <br><br>
     
   
     
           <b> {{Message}} </b> <br>
       
   
   </div>
   
   
   <div *ngIf="Upi == true" id="to-center">
     <div id="type">
         <h5>{{PaymentType}}</h5>
       </div>
   
   
   <div class="form-group">
       <label >UPI ID:</label>
       <input type="text" value="" class="form-control" [(ngModel)]="upiId" required/>
     </div>
     <div class="form-group">
       <label >Amount:</label>
       <input type="text" value="" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
       [(ngModel)]="money" required/>
     </div>
     <button type="submit" class="btn btn-primary"  (click)="TransferMoneyUpi(upiId,money)">Transfer</button>
     <br><br>
   
     
           <b> {{Message}} </b> <br>
       
   
   </div>
   
   
     <div *ngIf="OnTransfer == true" id="to-center">
       <span id="message">
           Your available balance : <b> {{SendersBalance}} </b>
       </span>
     </div>
    </div>