<header>
                <marquee class="rounded" behavior="scroll" direction="left">
                        <b>Welcome to DBS Internet Banking</b>
                     </marquee>
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/logo.png" title="DBS" height="85px" width="250px">
                </a> 
                <a href="profile" style="float: right;margin-left: 850px;color: white">Welcome Sangeeta Joshi
                </a>
            </nav>
        </header>
        <div class="whole">
        <section>
                        <nav class="navbar navbar-expand-md navbar-dark">
                            <ul class="navbar-nav mr-auto">
                                    <ul class="nav-item">
                                            <a class="nav-link" name="main" href="userhome" style="color: white">Home</a>
                                    </ul>
                                <ul class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        <span>Accounts</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="summary">Account Summary</a>
                                        <div class="dropdown-submenu">
                                                <a class="dropdown-item">Requests<span class="caret"></span></a>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item"> Interest Certificate for Deposists/Savings </a>
                                                  <a class="dropdown-item"> Link your Gas ID </a>
                                                  <a class="dropdown-item"> Provisional Certificate for Loans </a>
                                                  <a class="dropdown-item"> Interest Certificate for Loans </a>
                                                </div>
                                        </div>
                                    </div>
                                </ul>
                                <ul class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        <span>Value Added Services</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" >Service Requests</a>
                                        <a class="dropdown-item" >Cheque Book Request Enquiry</a>
                                        <a class="dropdown-item" >Aadhar Registration</a>
                                        <a class="dropdown-item" >Donations</a>
                                        <a class="dropdown-item" >GSTN Registration</a>
                                        <a class="dropdown-item" >Transaction Limit Enquiry</a>
                                        <a class="dropdown-item" >Request for Locker</a>
                                    </div>
                                </ul>
                                <ul class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        <span>Transactions</span>
                                    </a>
                                    <div class="dropdown-menu">
                                            <div class="dropdown-submenu">
                                                    <a class="dropdown-item">Funds Transfer<span class="caret"></span></a>
                                                    <div class="dropdown-menu">
                                                      <a class="dropdown-item"> Own Accounts </a>
                                                      <a class="dropdown-item"> Other DBS Bank Accounts </a>
                                                      <a class="dropdown-item"> Other Bank - NEFT/RTGS </a>
                                                      <a class="dropdown-item"> IMPS (Instant Transfer 24*7) </a>
                                                    </div>
                                            </div>
                                            <div class="dropdown-submenu">
                                                    <a class="dropdown-item">Transaction Status<span class="caret"></span></a>
                                                    <div class="dropdown-menu">
                                                      <a class="dropdown-item"> All Transactions </a>
                                                      <a class="dropdown-item"> Scheduled Transactions </a>
                                                      <a class="dropdown-item"> Completed Transactions </a>
                                                      <a class="dropdown-item"> Saved Transactions </a>
                                                    </div>
                                            </div>
                                    </div>
                                </ul>
                                <ul class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        <span>Personal Security Settings</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-submenu">
                                                <a class="dropdown-item">Password Management<span class="caret"></span></a>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item"> Enable Transaction Password </a>
                                                  <a class="dropdown-item"> Disable Transaction Password </a>
                                                  <a class="dropdown-item"> Generate New Transaction Password  </a>
                                                  <a class="dropdown-item"> Change Login/Transaction Password & User ID </a>
                                                </div>
                                        </div>
                                    </div>
                                </ul>
                                <ul class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        <span>Card Services</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-submenu">
                                                <a class="dropdown-item">Credit Cards<span class="caret"></span></a>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item"> Link/Pay to Linked Cards </a>
                                                </div>
                                        </div>
                                        <div class="dropdown-submenu">
                                                <a class="dropdown-item">Debit Cards<span class="caret"></span></a>
                                                <div class="dropdown-menu">
                                                  <a class="dropdown-item"> Debit Card Reissue Request </a>
                                                  <a class="dropdown-item">  Debit Card Activation </a>
                                                  <a class="dropdown-item"> Block Debit Card</a>
                                                </div>
                                        </div>
                                    </div>
                                </ul>         
                            </ul>
                        </nav>
                    </section>  
        <div class="alert alert-warning alert-dismissible" role="alert">
                        <article class="card shadow text-dark" style="width: 45rem">
                            <div class="card-title">
                                <div id="bar">
                                    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                                    <table>
                                        <tr>
                                            <td style="padding-left: 10px"><img src="/assets/w19.png" alt="" style="width: 1.5rem; height: 1.5rem;"></td>
                                            <td style="padding-top: 10px; padding-left: 10px"><h5 class="card-title">Operative Accounts</h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>   
                            <div class="card-body"> 
                                <table id="Accounts">
                                    <thead >
                                        <td >A/c ID</td>
                                        <td >A/c Type</td>
                                        <td >Available Balance</td>
                                    </thead>
                                    <tr>
                                        <td><a href="summary"> 881032244323</a></td>
                                        <td >Savings</td>
                                        <td >30000</td>
                                    </tr>
                                    <tr>
                                        <td><a href="summary"> 281835644363</a></td>
                                        <td >Loans</td>
                                        <td >105000</td>
                                    </tr>
                                </table>
                            </div>
                            <br> <br> <br> <br> <br> <br> <br> <br> <br>
                        </article>
                    </div>   
                    <br> 
<div class="container">
        <h4>Transactions List</h4>    
        <br>     
              <div>
                      <form>
                        <label for="fname">from</label>&nbsp;
                        <input type="date" id="fdate" name="from" placeholder="dd/mm/yyyy">
                         &nbsp;&nbsp;
                        <label for="lname">to</label>&nbsp;
                        <input type="date" id="tdate" name="to" placeholder="dd/mm/yyyy">        
                        <input type="submit" value="Submit">
                      </form>
               </div> 
               <br>             
              <table id=customers>
               <thead>
           <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Transaction ID</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
              
            </tr>
          </thead>
          <tbody>
                  <tr>
                          <td>13-08-2019</td>
                          <td>Previous Balance</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>300</td>
                  </tr>
      
                  <tr>
                          <td>18-08-2019</td>
                          <td>Payroll Deposit</td>
                          <td></td>
                          <td></td>
                          <td style="color: green">500</td>
                          <td>800</td>
                  </tr>
                        
      
                 <tr>
                      <td>23-08-2019</td>
                      <td>Web Bill Payment-MASTER CARD</td>
                      <td>4321</td>
                      <td style="color: red">450</td>
                      <td></td>
                      <td>350</td>
                </tr>
                          
                        
                  <tr>
                      <td>03-09-2019</td>
                      <td>Telephone Bill Payment-VISA</td>
                      <td>8971</td>
                      <td style="color:red">250</td>
                      <td></td>
                      <td>100</td>
                  </tr>
                  <tr>
                          <td></td>
                          <td>***Total***</td>
                          <td></td>
                          <td style="color:red">700</td>
                          <td style="color:green">500</td>
                          <td></td>
                      </tr>
          </tbody>
        </table>
      </div>
      </div>