.header
{
	text-align: left;
	/* background-color: darkred; */
	height: 20px;
	color: White;
	font-weight: bold;
}
/* option:checked,option:hover { 
    background-color:darkred;
    color:#000;
} */
/* 
select:active {
    outline-color: red
  } */
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  
  marquee
{
  background-color: black;
  color: white
}
  header{
    background-color:black
  }
  img[class="power"]:hover
  {
    background-color: red
  }
  h4{
      margin-left: 130px
  }
  a > span{
    color: white;
  }
  a:hover > span{
    color: red
  }
  a[name="main"]:hover
  {
      color: red;
  }

  section
{
  background-color:darkred;
} 


.headerAck
{
	text-align: center;
	font-size: 25px;
	/* background-color: darkred; */
	height: 20px;
	color: White;
	font-weight: bold;
}
/* input{
    outline-color: maroon;
} */
body
{
	font-family: Verdana;
	font-size: 12px;
/*	border-width: 1px 1px 1px 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
	border-color: Black; */
	background-color: rgb(240, 231, 231);
	width: 80%;
    text-align:left;
    margin-top: 10%;
   	margin-left:10%;
	
	}
